*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root
{
    --fbg-color:black;
    --sbg-color:white;
    --font-color:#FFFFFF;
    --sfont-color:#000000;

    
    --navactive-font-color:#00FFA7;

    --fcardBg-color:#2BFF8A;
    --scardBg-color:#00F0FF;
    --tcardBg-color:#FC5959;
    --focardBg-color:#2D45E6;
}

body
{
    background: var(--fbg-color);
    width: 100%;
    /* overflow: hidden; */
}

/*[[[[[[[[[[[[[[[[[[ header section start  ]]]]]]]]]]]]]]]]]]]*/
header
{
    width: 100%;
    border-bottom: 2px solid gray;
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
}

.wrap-content
{
    width: 75%;
}

header .wrap-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo svg
{
    /* Vector */
    Width:165px;
    Height:48.5px;
}

header nav ul
{
    display: flex;
    color: var(--font-color);
    gap: 3.5rem;
    cursor: pointer;
}

ul li a
{
    font-size: 1.2rem;
    color: var(--font-color);
    /*font-family: 'Poppins';
    */font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    transition: .2s linear;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -ms-transition: .2s linear;
    -o-transition: .2s linear;
}

li a:hover
{
    color: var(--navactive-font-color);
}

a.active
{
    color: var(--navactive-font-color);
}
/*[[[[[[[[[[[[[[[[[[ header section end    ]]]]]]]]]]]]]]]]]]]*/

/*[[[[[[[[[[[[[[[[[[ company section start  ]]]]]]]]]]]]]]]]]]]*/
#company
{
    position: relative;
    /* width: 1921px; */
    width: 100%;
    height: 571.56px;
    left: 0px;
    top: 27.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: sticky; */
    /* top: 0; */
}

#company .company-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    width: 55%;
    gap: 1.8rem;
    /* border: 2px solid red; */
    position: absolute;
    top: 30%;
}

.company-container .intro
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro h1
{
    /* font-family: 'Poppins'; */
    font-size: 6rem;
    font-weight: 900;
    /* border: 2px solid red; */
    line-height: 6rem;
    /* font-size: 120px; */
    /* line-height: 10.5px; */
    /* letter-spacing: 0.11em; */
    /* text-align: left; */
}

h1 span
{
        background: -webkit-linear-gradient(#00FFA7,#FFFF00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.company-container p
{
    font-size: 18px;
    font-weight: 500;
    line-height: 27.39px;
    letter-spacing: 0.06em;
    text-align: center;
}

#startBtn
{
    padding: .2rem 1rem;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
    cursor: pointer;
    font-weight: 600;
    background: var(--sbg-color);
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

#startBtn:hover
{
    /* background-color: rgb(215, 215, 215); */
    box-shadow: 0px 0px 5px #ccc;
    border-color: transparent;
}

#startBtn i
{
    border: 1px solid black;
    background: black;
    color: var(--font-color);
    padding: .3rem;
    border-radius: 50%;
    font-size: 1rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/*[[[[[[[[[[[[[[[[[[ company section end    ]]]]]]]]]]]]]]]]]]]*/

/*[[[[[[[[[[[[[[[[[[ services section start    ]]]]]]]]]]]]]]]]]]]*/
#services
{
    min-height: 100vh;
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    background: var(--sbg-color);
}

#services .services-container
{
    /* border: 2px solid red; */
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    padding: 5rem 0rem ;
}

.services-container .heading
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.heading .services-heading 
{
  font-size: 1.2rem;
}

.services-heading h1
{
    font-weight: 600;
}

.services-heading p
{
    font-weight: 500;
}

.btns .sBtn
{
    padding: .3rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
}

.sBtn:hover
{
    border: 2px solid black;
}

.sBtn i
{
    /* padding: 1rem; */
    font-size: 1.8rem;
}

.services-container .card-container
{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.card-container .separate-card
{
    border: 3px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
}

.card-container .separate-card::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--fcardBg-color);
    opacity: .12;
}

.card-container .cardName
{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    font-size: .7rem;
    border-bottom: 2px solid black;
    padding: .5rem 1rem;
    color: var(--sfont-color);
    width: 16.9rem;
}

.card-container .card-details
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-details .card-det-name
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0rem;
}

.card-details img
{
    width: 261px;
    height: 156px;
}

.card-container .cardBtn
{
    border-top: 2px solid black;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: end;
}

.cardBtn #exploreBtn
{
    padding: 0.3rem .6rem 0.3rem 1rem;
    cursor: pointer;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background: white;
    border:2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8rem;
    z-index: 1000;
    transition: .2s linear;
    font-weight: 600;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -ms-transition: .2s linear;
    -o-transition: .2s linear;
}

.cardBtn #exploreBtn:hover
{
    background: var(--sfont-color);
    color: var(--font-color);
}

#exploreBtn i
{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: linear-gradient(rgba(0, 255, 167, 1),rgba(255, 255, 0, 1));
    padding: .5rem;
    font-size: 1rem;
    color: var(--sfont-color);
}

/* .cardBtn #exploreBtn:hover
{

} */

/*[[[[[[[[[[[[[[[[[[ services section end    ]]]]]]]]]]]]]]]]]]]*/

